.glassmorph_style {
    box-sizing: border-box;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.16) 0%, rgba(255, 255, 255, 0.04) 100%);
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(50px);
    transform: translateZ(0);
    will-change: transform;
    border-radius: 8px;
    width: 100%;
}